@{
    ViewData["Title"] = "Demo Page";
}
<form asp-action="Index" method="post">
    <label for="">Full Name:</label>
    <input type="text" name="FullName"/>
    <button type="submit" >Send Data</button>
</form>
<h1>@ViewBag.Message</h1>
@if (ViewBag.Name != null) {
    <p>Kết quả nhận được: <Strong>@ViewBag.Name</Strong></p>
}