@model IEnumerable<FirstWebMVC.Models.Entities.Student>

@{
    ViewData["Title"] = "Danh sách sinh viên";
}

<h1> Danh sách sinh viên</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Thêm sinh viên mới</a>
</p>

<table class="table table-striped">
    <thread>
        <tr>
            <th>Mã sinh viên</th>
            <th>Họ và tên</th>
            <th>Thao tác</th>
        </tr>
    </thread>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td></td>
                <td></td>
                <td>
                    <a asp-action= "Edit" asp-route-id="@item.StudentCode" class="btn btn-sm btn-warning">Sửa</a>
                    <a asp-action= "Delete" asp-route-id="@item.StudentCode" class="btn btn-sm btn-danger">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>